<a href="https://colab.research.google.com/github/felipefarinha/Python-Estacio/blob/main/datahackers_28_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Felipe Farinha da Costa 
# 202002250755

In [ ]:
import pandas as pd
import numpy as np
from statistics import mean

from google.colab import drive
drive.mount("/content/drive", force_remount=True)

url = '/content/drive/MyDrive/Colab Notebooks/datahackers.csv'
# banco = pd.read_csv(url)

def load_data():
  return pd.read_csv(url)

banco = load_data()

banco.rename(columns = { 
                        "('P0', 'id')" : 'cliente_ID',
                        "('P1', 'age')" : 'Age',
                        "('P2', 'gender')" : 'Sexo',
                        "('P3', 'living_in_brasil')" : 'live_Brazil',
                        "('P5', 'living_state')" : 'estado',
                        "('P8', 'degreee_level')" : 'Escolaridade',
                        "('P10', 'job_situation')" : 'job_status',
                        "('P12', 'workers_number')" : 'number_trabalhadores',
                        "('P16', 'salary_range')": 'faixa_salarial',
                        "('P17', 'time_experience_data_science')": 'Exp_time',
                        "('P18', 'time_experience_before')": 'Exp_time_antes',
                        "('P34', 'online_courses')" : 'online_courses',
                        "('P22', 'most_used_proggraming_languages')" : 'prog_lang_used',
                        "('P32', 'prefered_data_hackers_initiative')": 'prefer_initiative',
                        "('P35', 'data_science_plataforms_preference')": 'plataform_study',
                        "('D1', 'living_macroregion')" : 'region_live',
                        "('D3', 'anonymized_degree_area')" : 'área de graduação',
                        "('P33', 'twitter')" : 'twitter',
                        "('youtube_channels')" : 'youtube',

                        "('P13', 'manager')" : 'drop',
                        "('P6', 'born_or_graduated')" : 'drop',
                        "('P34', 'kaggle_learn')" : 'drop',
                        "('P13', 'manager')" : 'drop',
                        "('P35', 'data_science_plataforms_preference')" : 'drop',
                        "('P35', 'other')" : 'drop',
                        "('P36', 'draw_participation')" : 'drop',
                        "('D1', 'living_macroregion')" : 'drop',
                        "('D2', 'origin_macroregion')" : 'drop',
                        "('D3', 'anonymized_degree_area')" : 'drop',
                        "('D4', 'anonymized_market_sector')" : 'drop',
                        "('D5', 'anonymized_manager_level')" : 'drop',
                        "('P34', 'data_quest')" : 'drop',
                        "('P34', 'data_camp')" : 'drop',
                        "('P34', 'edx')" : 'drop',
                        "('P34', 'height')" : 'drop',
                        "('P34', 'udemy')" : 'drop',
                        "('P34', 'coursera')" : 'drop',
                        "('P34', 'udacity')" : 'drop',
                        "('P33', 'abroad_blogs')" : 'drop',
                        "('P33', 'abroad_podcasts')" : 'drop',
                        "('P33', 'meetups_and_events')" : 'drop',
                        "('P33', 'only_data_hackers')" : 'drop',
                        "('P33', 'other')" : 'drop',
                        "('P33', 'telegram_groups')" : 'drop',
                        "('P33', 'whatsapp_groups')" : 'drop',
                        "('P33', 'other_brasilian_blogs')" : 'drop',
                        "('P33', 'other_slack_channels')" : 'drop',
                        "('P31', 'weekly_newsletter')": 'drop',
                        "('P31', 'slack_channel')": 'drop',
                        "('P31', 'data_hackers_bootcamp')": 'drop',
                        "('P30', 'other')": 'drop',
                        "('P31', 'data_hackers_blog')": 'drop',
                        "('P31', 'data_hackers_podcast')": 'drop',
                        "('P31', 'do_not_know_data_hackers')": 'drop',
                        "('P30', 'ibm')": 'drop',
                        "('P30', 'teradata')": 'drop',
                        "('P30', 'microsoft_azure')": 'drop',
                        "('P30', 'do_not_know')": 'drop',
                        "('P30', 'aws_redshift')": 'drop',
                        "('P30', 'snowflake')": 'drop',
                        "('P30', 'oracle')": 'drop',
                        "('P30', 'postgres_mysql')": 'drop',
                        "('P28', 'siss_sql_server_integration_services')": 'drop',
                        "('P28', 'other')": 'drop',
                        "('P28', 'ibm_data_stage')": 'drop',
                        "('P28', 'sap_bw_etl')": 'drop',
                        "('P29', 'have_data_warehouse')": 'drop',
                        "('P28', 'pentaho')": 'drop',
                        "('P28', 'alteryx')": 'drop',
                        "('P28', 'oracle_data_integrator')": 'drop',
                        "('P30', 'google_bigquery')": 'drop',
                        "('P28', 'apache_airflow')": 'drop',
                        "('P28', 'luigi')": 'drop',
                        "('P28', 'aws_glue')":'drop',
                        "('P28', 'talend')": 'drop',
                        "('P33', 'youtube_channels')": 'drop',
                        "('P34', 'other')": 'drop',
                        "('P27', 'birst')": 'drop',
                        "('P27', 'looker')":'drop',
                        "('P27', 'google_data_studio')": 'drop',
                        "('P27', 'only_excel_gsheets')":'drop',
                        "('P27', 'no_bi_tool_at_work')":'drop',
                        "('P27', 'other')":'drop',
                        "('P28', 'sql_&_stored_procedures')":'drop',
                        "('P27', 'metabase')":'drop',
                        "('P27', 'superset')":'drop',
                        "('P27', 'redash')":'drop',
                        "('P27', 'microstrategy')":'drop',
                        "('P27', 'ibm_analytics_cognos')":'drop',
                        "('P27', 'sap_business_objects')":'drop',
                        "('P27', 'oracle_business_intelligence')":'drop',
                        "('P26', 'neo4j')":'drop',
                        "('P26', 'google_bigtable')":'drop',
                        "('P26', 'hbase')":'drop',
                        "('P26', 'other')":'drop',
                        "('P27', 'microsoft_powerbi')":'drop',
                        "('P27', 'qlik_view_qlik_sense')":'drop',
                        "('P27', 'tableau')":'drop',
                        "('P26', 'db2')":'drop',
                        "('P26', 'ms_access')":'drop',
                        "('P26', 'sqlite')":'drop',
                        "('P26', 'sybase')":'drop',
                        "('P26', 'firebase')":'drop',
                        "('P26', 'vertica')":'drop',
                        "('P26', 'redis')":'drop',
                        "('P26', 's3')": 'drop',
                        "('P26', 'postgresql')": 'drop',
                        "('P26', 'elaticsearch')": 'drop',
                        "('P26', 'sqlite')": 'drop',
                        "('P26', 'sybase')": 'drop',
                        "('P26', 'firebase')": 'drop',
                        "('P26', 'vertica')": 'drop',
                        "('P19', 'is_data_science_professional')": 'drop',
                        "('P20', 'linear_regression')": 'drop',
                        "('P20', 'logistic_regression')": 'drop',
                        "('P20', 'glms')": 'drop',
                        "('P20', 'decision_tree')": 'drop',
                        "('P20', 'random_forest')": 'drop',
                        "('P20', 'neural_networks')": 'drop',
                        "('P20', 'bayesian_inference')": 'drop',
                        "('P20', 'ensemble')": 'drop',
                        "('P20', 'svms')": 'drop',
                        "('P26', 'mysql')": 'drop',
                        "('P26', 'oracle')": 'drop',
                        "('P26', 'sql_server')": 'drop',
                        "('P26', 'aurora')": 'drop',
                        "('P26', 'dynamodb')": 'drop',
                        "('P26', 'coachdb')": 'drop',
                        "('P26', 'cassandra')": 'drop',
                        "('P26', 'mongodb')": 'drop',
                        "('P26', 'mariadb')": 'drop',
                        "('P26', 'datomic')": 'drop',
                        "('P25', 'aws')":'drop',
                        "('P25', 'gcp')":'drop',
                        "('P25', 'azure')":'drop',
                        "('P25', 'ibm')":'drop',
                        "('P25', 'on_premise_servers')":'drop',
                        "('P25', 'cloud_própria')":'drop',
                        "('P25', 'other')":'drop',
                        "('P24', 'sql')":'drop',
                        "('P24', 'nosql')":'drop',
                        "('P24', 'imagens')":'drop',
                        "('P24', 'nlp')":'drop',
                        "('P24', 'vídeos')":'drop',
                        "('P24', 'planilhas')":'drop',
                        "('P24', 'other')":'drop',
                        "('D6', 'anonymized_role')" : 'drop' }, inplace = True)

banco.drop([ 'drop'], axis = 1, inplace = True)

# banco

In [242]:
# contador de pontos para homens e mulheres

countMale = 0
countFemale = 0
countTied = 0

def countPoints(valueMale, valueFemale):
  global countMale
  global countFemale
  global countTied

  if (valueMale > valueFemale):
    countMale += 1

  elif (valueMale < valueFemale):
    countFemale += 1

  else: countTied += 1
  
  print(f'H: {countMale}, M: {countFemale}, Tied: {countTied}')

In [ ]:
manLiveBrazil = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Masculino')].count()
print(f'Homens que residem no Brasil : {round(manLiveBrazil, 2)}')

womanLiveBrazil = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Feminino')].count()
print(f'Mulheres que residem no Brasil : {round(womanLiveBrazil, 2)}')

banco['cliente_ID'].loc[banco['live_Brazil'] == 1].groupby (banco['Sexo']).count().plot(kind = 'bar')

countPoints(manLiveBrazil, womanLiveBrazil)

In [ ]:
manNoLiveBrazil = banco['cliente_ID'].loc[(banco['live_Brazil']== 0) & (banco['Sexo']=='Masculino')].count()
print(f'Homens que não residem no Brasil : {round(manLiveBrazil, 2)}')

womanNoLiveBrazil = banco['cliente_ID'].loc[(banco['live_Brazil']== 0) & (banco['Sexo']=='Feminino')].count()
print(f'Mulheres que não residem no Brasil : {round(womanLiveBrazil, 2)}')

banco['cliente_ID'].loc[banco['live_Brazil'] == 0].groupby (banco['Sexo']).count().plot(kind = 'bar')

countPoints(manNoLiveBrazil, womanNoLiveBrazil)

In [ ]:
manLiveBrazilGraduadDoInternship = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Masculino') & (banco['Escolaridade']=='Estudante de Graduação') & (banco['job_status']=='Estagiário')].count()
print(f'Homens que residem no Brasil, fazem graduação e estagiam : {round(manLiveBrazilGraduadDoInternship, 2)}')

womanLiveBrazilGraduadDoInternship = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Feminino') & (banco['Escolaridade']=='Estudante de Graduação') & (banco['job_status']=='Estagiário')].count()
print(f'Mulheres que residem no Brasil, fazem graduação e estagiam : {round(womanLiveBrazilGraduadDoInternship, 2)}')

banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Escolaridade']=='Estudante de Graduação') & (banco['job_status']=='Estagiário')].groupby (banco['Sexo']).count().plot(kind = 'bar')

countPoints(manLiveBrazilGraduadDoInternship, womanLiveBrazilGraduadDoInternship)

In [ ]:
manLiveBrazilNoGraduedSalary4kmore = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Masculino') & (banco['Escolaridade']=='Não tenho graduação formal') & (banco['faixa_salarial'] <= 'de R$ 4.001/mês a R$ 6.000/mês')].count()
print(f'Homens que residem no Brasil, não tem graduação formal e recebem de 4k á 6k : {round(manLiveBrazilNoGraduedSalary4kmore, 2)}')

womanLiveBrazilNoGraduedSalary4kmore = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Feminino') & (banco['Escolaridade']=='Não tenho graduação formal') & (banco['faixa_salarial'] <= 'de R$ 4.001/mês a R$ 6.000/mês')].count()
print(f'Mulheres que residem no Brasil, não tem graduação formal e recebem de 4k á 6k : {round(womanLiveBrazilNoGraduedSalary4kmore, 2)}')

banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Escolaridade']=='Não tenho graduação formal') & (banco['faixa_salarial']=='de R$ 4.001/mês a R$ 6.000/mês')].groupby (banco['Sexo']).count().plot(kind = 'bar')

countPoints(manLiveBrazilNoGraduedSalary4kmore, womanLiveBrazilNoGraduedSalary4kmore)

In [ ]:
manHaveExpInCien_dados = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Masculino') & (banco['Exp_time']=='Não tenho experiência na área de dados') ].count()
print(f'Homens que residem no Brasil, e não tem experiência na área de dados : {round(manHaveExpInCien_dados, 2)}')

womanHaveExpInCien_dados = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Feminino') & (banco['Exp_time']=='Não tenho experiência na área de dados') ].count()
print(f'Mulheres que residem no Brasil, e não tem experiência na área de dados : {round(womanHaveExpInCien_dados, 2)}')

banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Exp_time']=='Não tenho experiência na área de dados')].groupby (banco['Sexo']).count().plot(kind = 'bar')

In [ ]:
manNoHaveExpInCien_dadosNo_job = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Masculino') & (banco['Exp_time']=='Não tenho experiência na área de dados') & (banco['Escolaridade']=='Não tenho graduação formal') & (banco['job_status']=='Desempregado, buscando recolocação')].count()
print(f'Homens que residem no Brasil, e não tem experiência na área de dados e estão buscando emprego (desempregado) : {round(manNoHaveExpInCien_dadosNo_job, 2)}')

womanNoHaveExpInCien_dadosNo_job = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Feminino') & (banco['Exp_time']=='Não tenho experiência na área de dados') & (banco['Escolaridade']=='Não tenho graduação formal') & (banco['job_status']=='Desempregado, buscando recolocação')].count()
print(f'Homens que residem no Brasil, e não tem experiência na área de dados e estão buscando emprego (desempregado) : {round(womanNoHaveExpInCien_dadosNo_job, 2)}')

In [ ]:
manHaveExpInCien_dadosJob = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Masculino') & (banco['Exp_time']=='de 4 a 5 anos') & (banco['Escolaridade']=='Pós-graduação')].count()
print(f'Homens que residem no Brasil, e não tem experiência na área de dados e estão buscando emprego (desempregado) : {round(manHaveExpInCien_dadosJob, 2)}')

womanHaveExpInCien_dadosJob = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Female') & (banco['Exp_time']=='de 4 a 5 anos') & (banco['Escolaridade']=='Pós-graduação')].count()
print(f'Homens que residem no Brasil, e não tem experiência na área de dados e estão buscando emprego (desempregado) : {round(womanHaveExpInCien_dadosJob, 2)}')

banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Exp_time']=='de 4 a 5 anos') & (banco['Escolaridade']=='Pós-graduação')].groupby (banco['Sexo']).count().plot(kind = 'bar')

countPoints(manHaveExpInCien_dadosJob, womanHaveExpInCien_dadosJob)

In [ ]:
manLiveBrazilwith_expAgelow25 = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Masculino') & (banco['Exp_time'] != 'Não tenho experiência na área de dados') & (banco['Age'] >= 25) ].count()
print(f'Homens que residem no Brasil e possuem algum conhecimento na área de dados com menos de 25 anos  : {round(manLiveBrazilwith_expAgelow25, 2)}')

womanLiveBrazilwith_expAgelow25 = banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Sexo']=='Feminino') & (banco['Exp_time'] != 'Não tenho experiência na área de dados') & (banco['Age'] >= 25) ].count()
print(f'Mulheres que residem no Brasil e possuem algum conhecimento na área de dados com menos de 25 anos: {round(womanLiveBrazilwith_expAgelow25, 2)}')

banco['cliente_ID'].loc[(banco['live_Brazil']== 1) & (banco['Exp_time'] != 'Não tenho experiência na área de dados') & (banco['Age']>= 25)].groupby (banco['Sexo']).count().plot(kind = 'bar')

countPoints(manLiveBrazilwith_expAgelow25, womanLiveBrazilwith_expAgelow25)

# Deixei um contato na maioria das céluas de código, junto ao valor da expressão e do gráfico de sexo
### Observasse que os homens pontuaram mais para salário, experiência, escolaridade, trabalho e começam na área antes das

In [241]:
banco

,cliente_ID,Age,Sexo,live_Brazil,estado,Escolaridade,job_status,number_trabalhadores,faixa_salarial,Exp_time,...,"('P23', 'sql')","('P23', 'nosql')","('P23', 'images')","('P23', 'nlp')","('P23', 'videos')","('P23', 'sheets')","('P23', 'other')",prefer_initiative,twitter,online_courses
0,v9otv8j9wdvjrv9otvwnn9owhzq54ktv,37.0,Masculino,1,Minas Gerais (MG),Estudante de Graduação,Empregado (CTL),de 1 a 5,de R$ 1.001/mês a R$ 2.000/mês,Não tenho experiência na área de dados,...,0,0,0,0,0,0,0,Ainda não conhecia o Data Hackers,0,1
1,875ul998t0hqcv0871uptwf3oswcfv35,24.0,Feminino,1,São Paulo (SP),Estudante de Graduação,Empregado (CTL),Acima de 3000,de R$ 2.001/mês a R$ 3000/mês,Menos de 1 ano,...,1,0,0,0,0,0,0,Ainda não conhecia o Data Hackers,0,0
2,puscuk079vw1pusbb900pzw2xvpxtgdk,26.0,Masculino,1,São Paulo (SP),Graduação/Bacharelado,Empregado (CTL),Acima de 3000,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,...,0,0,0,0,0,1,0,Newsletter Semanal,0,0
3,rmel8ewqpbffp2mnfbzermel8eqincov,21.0,Masculino,1,São Paulo (SP),Estudante de Graduação,Estagiário,de 11 a 50,de R$ 1.001/mês a R$ 2.000/mês,Menos de 1 ano,...,1,0,0,0,0,0,0,Ainda não conhecia o Data Hackers,0,0
4,pj9mgud4d6mdct1l7vq0pj9mgu78h6ju,27.0,Masculino,1,NaN,Graduação/Bacharelado,Freelancer,de 6 a 10,de R$ 6.001/mês a R$ 8.000/mês,de 4 a 5 anos,...,1,1,0,1,0,1,0,Blog/Medium do Data Hackers,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1760,qkjyuc8dayrrqahyjqkj841kpgymnpau,23.0,Feminino,1,Minas Gerais (MG),Graduação/Bacharelado,"Desempregado, buscando recolocação",NaN,NaN,Não tenho experiência na área de dados,...,0,0,0,0,0,0,0,Newsletter Semanal,0,0
1761,7z5vvw7ycrxn4sujnv7z5vvw7r36gi5k,39.0,Masculino,1,São Paulo (SP),Estudante de Graduação,Empregado (CTL),de 1001 a 3000,de R$ 4.001/mês a R$ 6.000/mês,de 2 a 3 anos,...,0,0,0,0,0,0,0,Canal do Slack,0,0
1762,0s2jaountv3tyrae0sir4jd8o5hz19ob,36.0,Masculino,1,Paraná (PR),Pós-graduação,Empregado (CTL),Acima de 3000,de R$ 6.001/mês a R$ 8.000/mês,de 2 a 3 anos,...,0,0,0,0,0,0,0,Podcast do Data Hackers,0,0
1763,r3kvh535z7xai2v8er3kv791tkmcysz8,29.0,Masculino,1,Minas Gerais (MG),Não tenho graduação formal,Empreendedor ou Empregado (CNPJ),de 11 a 50,de R$ 8.001/mês a R$ 12.000/mês,de 4 a 5 anos,...,1,1,0,1,0,1,0,Canal do Slack,0,0
1764,1cz0hm5i92rw913f1cz0hmvferfavkkb,22.0,NaN,0,NaN,Não tenho graduação formal,Prefiro não dizer,Acima de 3000,Menos de R$ 1.000/mês,Menos de 1 ano,...,0,0,0,0,0,0,0,Blog/Medium do Data Hackers,0,0